
@font-face {
  font-family: proxima-nova;
  src: url("./assets/fonts/proxima/Proxima\ Nova\ Thin.otf") format("opentype");
}

#hi{
  font-size: 5em;
  font-weight: 999;
  font-family: proxima-nova, sans-serif;
  top: 35%;
  letter-spacing: 0.05em;
}


.container-img {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: .25em;
  }

.text-center{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 3em;
  line-height: 1em;
}

.p-5{
  border: none;
}

.mt-3{
  width: 100%;
}
